/vendor
/web/core
/web/modules/contrib
/web/themes/contrib
/web/sites/sites.php
/web/sites/*/settings*.php
/web/sites/*/services*.yml
/web/sites/*/files
/web/sites/*/public
/web/sites/*/private
/web/sites/*/files-public
/web/sites/*/files-private
/simpletest
/.ddev
!/.ddev/config.local.yaml.dist
!/.ddev/config.yaml
!/.ddev/docker-compose.chromedriver.yml
!/.ddev/docker-compose.environment.yml
/drush
