<div class="col-md-3 col-sm-6 mb-4">
    <div class="profile">
        <div class="profile-img mb-2">
            {{ content.field_profile_image.0 }}
        </div>
        <h5 class="text-center">{{ content.field_name.0 }}</h5>
        <span class="d-block text-center role">{{ content.field_role.0 }}</span>
    </div>
</div>    