/* Top header */
.mainug-link{
    font-size: 14px;
    text-decoration: none;
    color: var(--vh-white);
}


/* Main Navigation */
.home-navigation-header{
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 99;
}

.site-logo{
    max-height: 200px;
}

.site-logo img{
   width: 100%;
   height: auto;
}

.home-navigation-header [role="navigation"] .navbar-links li{
    margin-right: 16px;
}

.main-navigation-header{
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.1);
}

.main-navigation-header [role="navigation"]{
    margin-left: auto;
}

.main-navigation-header [role="navigation"] .navbar-links, .home-navigation-header [role="navigation"] .navbar-links{
    list-style: none;
    display:flex;
    flex-direction: column;
}

.main-navigation-header [role="navigation"] .navbar-links li, .home-navigation-header [role="navigation"] .navbar-links li{
    margin-right: 16px;
    padding: 5px 0;
}

.dropdown-menu.show {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px){
    .home-navigation-header [role="navigation"] .navbar-links{
        list-style: none;
        display:flex;
        flex-direction: row;
    }

    .home-navigation-header [role="navigation"] .navbar-links{
        padding: 0;
        border-bottom: none;
    }


    .main-navigation-header [role="navigation"] .navbar-collapse{
        display: block;
    }

    .main-navigation-header [role="navigation"] .navbar-links{
        list-style: none;
        display:flex;
        flex-direction: row;
    }

    .main-navigation-header [role="navigation"] .navbar-links li{
        border-bottom: none;
    }

}

.collapsing{
    position: relative;
    height: 0;
    transition: height 0.5s ease;
    overflow: hidden;
}

.collapse:not(.show) {
   display: none;
}



.main-navigation-header [role="navigation"] .navbar-links li a,
.main-navigation-header [role="navigation"] .navbar-links .dropdown-menu li a,
.home-navigation-header [role="navigation"] .navbar-links li a,
.home-navigation-header [role="navigation"] .navbar-links .dropdown-menu li a{
    text-decoration: none;
    color: var(--vh-text-black);
}

.nav-link.dropdown-toggle{
    display: flex;
    align-items: center;
}

.nav-link.dropdown-toggle::after{
    margin-left: 8px;
    font-size: 0.85rem;
    color: inherit;
    content: '\f282';
    font-family: bootstrap-icons;
    font-weight: 700;
    transition: transform 0.2s ease-in-out;
}

.nav-link.dropdown-toggle.show::after{
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;
}

.dropdown-menu{
    z-index: 1000;
    display: none;
    min-width: 10rem;
    margin: 0;
    text-align: left;
    list-style: none;
    background-color: var(--vh-white);
    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}



.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 0;
}

.search-bar-toggler{
    border: none;
    background: none;
    padding: 0;
}

.search-bar-toggler-icon::after{
    display: inline-block;
    content:'\f52A';
    font-family: bootstrap-icons;
    font-size: 1.25rem;
    color: var(--vh-ash);
}

.home-navigation-header .search-bar-toggler-icon::after{
    color: var(--vh-white);
}

.navbar-toggler{
    border:none;
    background:none;
    padding:0;
}

.navbar-toggler-icon::before{
    display: inline-block;
    content:'\f479';
    font-family: bootstrap-icons;
    font-size: 1.25rem;
    color: var(--vh-ash);
}

.home-navigation-header .navbar-toggler-icon::before{
    color: var(--vh-white);
}


/* offcanvas Menu*/
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--vh-text-black);
    visibility: hidden;
    background-color: var(--vh-white);
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}

.offcanvas.offcanvas-end {
    top: 0;
    right: 0;
    width: 350px;
    transform: translateX(100%);
}
.offcanvas.hiding, .offcanvas.show, .offcanvas.showing {
    visibility: visible;
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
    transform: none;
}

.fade {
    transition: opacity .15s linear;
}

.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.offcanvas-backdrop.fade {
    opacity: 0;
}

.offcanvas-backdrop.show {
    opacity: .5;
}

.btn-close{
    border:0;
    background: none;
    padding:0;
}

.btn-close::before{
    display: inline-block;
    content:'\f62a';
    font-family: bootstrap-icons;
    font-size: 1.5rem;
    color: var(--vh-black);
}

.offcanvas-header{
    margin-left: auto;
}

@media (min-width: 992px){
    .offcanvas {
        position: static;
        z-index: auto;
        flex-grow: 1;
        width: auto!important;
        height: auto!important;
        visibility: visible!important;
        background-color: transparent!important;
        border: 0!important;
        transform: none!important;
        transition: none;
    }

    .offcanvas .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
    }

    .offcanvas .offcanvas-header {
        display: none;
    }



    .home-navigation-header [role="navigation"] .navbar-links li a{
        text-decoration: none;
        color: var(--vh-white);
    }

    .home-navigation-header [role="navigation"] .navbar-links .dropdown-menu li a{
        text-decoration: none;
        color: var(--vh-text-black);
    }



}