<div class="hall-governance">
    <div class="row">
        <div class="col-md-4">
            <h4 class="pt-3 governance-title">{{ content.field_title.0 }}</h4>
        </div>
        <div class="col-md-7 offset-md-1">
            {{ content.body.0 }}
        </div>
    </div>
</div>