<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="profile mb-3">
            <div class="profile-img mb-2">
                {{ fields.field_profile_photo.content }}
            </div>
            <h5 class="text-center">{{ fields.title.content }}</h5>
            <span class="d-block text-center role">{{ fields.field_role.content }}</span>

    </div> 
</div>