<div class="col-lg-4 col-md-6">
    <a class="announcement-card d-block mb-3 p-4 br-8" href="{{ fields.view_node.content }}">
        <h5>{{ fields.title.content }}</h5>
        {{ fields.body.content }}
        <p class="vh-link-right mt-2" href="{{ fields.view_node.content }}">Read More</p>
    </a>
</div>