/* Section Background Colors */
.vh-blue-bg{
    background-color: var(--vh-blue);
}

.vh-off-white-bg{
    background-color: var(--vh-offwhite);
}

.vh-white-bg{
    background-color: var(--vh-white);
}

.ug-pale-blue-bg{
    background-color: var(--ug-pale-blue);
}

.vh-yellow-bg{
    background-color: var(--vh-yellow);
}

/* Border-Radius */
.br-12{
    border-radius: 12px;
}

.br-8{
    border-radius: 8px;
}

/* Governance */
.governance-title{
    border-top: 4px solid var(--vh-black);
}

/* Mission, Vision, Motto and Slogan */
.mission-vision-block{
    padding-top: 4.5rem;
    padding-bottom: 4rem;
    background-position: center;
    background-repeat: no-repeat;
}

.vision, .mission{
    padding: 2rem;
}

.motto p, .slogan p{
    color: var(--vh-white);
}
.sm-heading{
    display: flex;
    gap: 8px;
    align-items: center;
}

.sm-heading hr{
    color: var(--vh-yellow);
    width: 14px;
    border: 0;
    border-bottom: 2px solid;
    margin: 0;
}

.sm-heading span{
    font-size: 14px;
    color: var(--vh-white);
    font-weight: 200;
}

/* Mini Banner */
.mini-banner-content{
    max-width: 800px;
}

/* Profile */
.profile-img img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.role{
    color: var(--vh-ash);
    font-weight: 400;
}


/* contact Block on Contact Page */
.contact-block{
   border: 1px solid var(--ug-grey-lines);
   border-radius: 8px;
}

/* Accordion */
#accordionPanels .accordion-button{
    background-color: var(--vh-yellow);
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    font-size: 1rem;
    color: var(--vh-black);
    text-align: left;
    border: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    border-bottom-color: transparent;
}

#accordionPanels .accordion-button.collapsed {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    font-size: 1rem;
    color: var(--vh-black);
    text-align: left;
    border: 0;
    border-radius: 4px;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    background-color: var(--vh-offwhite);
    border-bottom-color: transparent;
}

#accordionPanels .accordion-button.collapsed::after{
    margin-left: auto;
    content: '\f067';
    font-family: 'Line Awesome Free';
    font-weight: 800;
    transform: rotate(90deg);
}

#accordionPanels .accordion-button::after{
    margin-left: auto;
    content: '\f067';
    font-family: 'Line Awesome Free';
    font-weight: 800;
    transition: transform 0.2s ease-in-out;
}

#accordionPanels .accordion-body{
    background-color: var(--vh-offwhite);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* overview Home Page */
.vh-featured img{
    border-radius: 8px;
}

/* Announcement */
.announcement-card{
    border: 1px solid var(--ug-grey-lines);
    color: var(--vh-black);
    text-decoration: none;
}

.announcement-card:hover{
    background-color: var(--vh-yellow);
}


/* News */
.news-card{
    text-decoration: none;
    color: var(--vh-black);
}

.news-card:hover h5{
    text-decoration: underline;
    color: var(--vh-blue);
    transition: text-decoration 1s ease-in-out;
    text-underline-offset: 3px;
}

.news-card .vh-link-right::after{
    transition: padding-left 0.35s ease-in-out;
}

.news-card:hover .vh-link-right::after{
    padding-left: 18px;
    transition: padding-left 0.35s ease-in-out;
}

.news-spotlight{
    color: var(--vh-white);
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: calc(100px + 15vw);    
}

.news-spotlight-details{
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    width: 60%;
}

@media (max-width: 767px){
    .news-spotlight{
       height: calc(120px + 40vw);  
    }
    .news-spotlight-details{
        width: 100%;
    }
}

/* Events */
.event-card{
    color: var(--vh-black);
    text-decoration: none;
}

.event-card:hover{
    background-color: var(--vh-yellow);
}


.event-card .short-month{
    color: var(--vh-blue);
    font-size: 14px;
    font-weight: 400;
}

.event-card .day{
    color: var(--vh-black);
    font-size: 30px;
    font-weight: 600;
}

.event-date-time::before{
    content: url('../../icons/custom/fluent-mdl2_date-time.svg');
}

.event-venue::before{
    content: url('../../icons/custom/gg_pin.svg');
}


/* Home Page Banner */
.home-page-banner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.banner-content{
    height: 100%;
}

.banner-caption{
    color: var(--vh-white);
    max-width: 700px;
}

.banner-header{
    font-size: clamp(2.5rem, 5vw, 4.85rem);
    font-weight: 500;
}
.banner-amp{
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    font-weight: 300;
}

/* Info Block(Image Left Right) */
.info-image-wrapper{
    border-radius: 8px;
    overflow: hidden;
}

/* People Views */
.form-item-field-staff-category-value ul{
    list-style-type: none;
    margin: 0;
    padding: 0 0 1em 0 !important;
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.form-item-field-staff-category-value ul li{
    padding: 0.8em 0 !important;
}

.form-item-field-staff-category-value ul li a{
    color: var(--vh-black);
    padding: 0.5em !important;
    display: block;
    border: 2px solid var(--ug-grey-lines);
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    height: 100%;
    min-width: 160px;
}

.form-item-field-staff-category-value ul li a.bef-link--selected{
    color: var(--vh-white);
    background-color: var(--vh-blue);
}


@media (min-width: 768px){
    #views-exposed-form-people-block-1{
        position: sticky;
        top: 5%;
    }

    .form-item-field-staff-category-value ul{
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .form-item-field-staff-category-value ul li{
        position: relative;
        padding: 0 !important;
    }

    .form-item-field-staff-category-value ul li a{
        color: var(--vh-black);
        font-weight: 500;
        text-decoration: none;
        padding: 0 !important;
        border: none;
        background: none;
        text-align: left;
    }

    .form-item-field-staff-category-value ul li a.bef-link--selected{
        color: var(--vh-blue);
        background-color: transparent;
    }
}


/* Tutors */
#views-exposed-form-people-tutors{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#views-exposed-form-people-tutors .form-item{
    position: relative;
}

#views-exposed-form-people-tutors .form-item input{
    border: 1px solid var(--ug-grey-lines);
    padding: 8px;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
}

#views-exposed-form-people-tutors .form-item::after{
    content: '\f52A';
    font-family: 'bootstrap-icons';
    font-weight: 400;
    position: absolute;
    right: 10px;
    top:8px
}

/* Mini Slideshow */
.mini-slideshow-carousel-inner{
    border-radius: 8px;
    height: 500px;
}
.slide-img{
   height: 500px;
}

.carousel{
    position: relative;
}

.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    float: left; 
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
}

.carousel-indicators-arrows{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    bottom: 5%;
    right: 5%;
    padding: 0 1rem;
    z-index: 88;
    transform: translateY(-50%);
    gap: 12px;
}

.carousel-caption{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: var(--vh-white);
    text-align: left;
    z-index: 10;
}

.carousel-caption .page-title{
    color: var(--vh-white);
}

.mini-slideshow-carousel-indicators-arrows.carousel-indicators-arrows{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%;
    padding: 0 1rem;
    z-index: 88;
    transform: translateY(-50%);
}

.carousel-indicators button{
    border: 0;
    width: 30px;
    height: 2px;
    background-color: var(--vh-white);
}
.carousel-indicators button.active{
    background-color: var(--vh-yellow);
}    

.carousel-control-prev, .carousel-control-next{
    background-color: transparent;
    border: 0;
    width: auto;
}

.carousel-control-next{
    margin-left: auto;
}
.carousel-control-prev{
    margin-right: auto;
}

.carousel-control-prev-icon::after{
    content:"\f12A";
    font-family: 'bootstrap-icons';
    font-size: 30px;
    font-weight: 400;
    color: var(--vh-white);
}

.carousel-control-next-icon::after{
    content:"\f134";
    font-family: 'bootstrap-icons';
    font-size: 30px;
    font-weight: 400;
    color: var(--vh-white);
}

/* Executives */
.show-more-less{
    color: var(--vh-black);
}

/* Alumni Slideshow */
.trailblazers-slideshow-container{
    padding: 3.5rem 0;
}

.trailblazer-slide-image-col img{
    border-radius: 12px;
    width: 100%;
}

.trailblazer-slide-content-col{
    border-radius: 12px;
}

.trailblazer-slide-description p{
    font-weight: 300;
    font-size: 20px;
}

.trailblazers-carousel-indicators-arrows{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1.2rem 1rem;
}

.trailblazers-carousel-indicators-arrows .carousel-indicators button{
    border: 0;
    width: 30px;
    height: 3px;
    background-color: var(--ug-grey-lines);
}

.trailblazers-carousel-indicators-arrows .carousel-indicators button.active{
    background-color: var(--vh-blue);
}

/* Rates */
.rates-content{
    padding: 4rem 2rem;
}

.rates-content>p{
    margin-bottom: 2rem;
}

.rates{
    border-left: 3px solid var(--vh-yellow);
    padding-left: 8px;
}

/* Notices */
.notices-content{
    background-color: #e9f6ff
}