/* Section Background Colors */
.vh-blue-bg{
    background-color: var(--vh-blue);
}

.vh-off-white-bg{
    background-color: var(--vh-offwhite);
}

.vh-white-bg{
    background-color: var(--vh-white);
}

.ug-pale-blue-bg{
    background-color: var(--ug-pale-blue);
}

.vh-yellow-bg{
    background-color: var(--vh-yellow);
}

/* Border-Radius */
.br-12{
    border-radius: 12px;
}

.br-8{
    border-radius: 8px;
}

/* Governance */
.governance-title{
    border-top: 4px solid var(--vh-black);
}

/* Mission, Vision, Motto and Slogan */
.mission-vision-block{
    padding-top: 4.5rem;
    padding-bottom: 4rem;
    background-position: center;
    background-repeat: no-repeat;
}

.vision, .mission{
    padding: 2rem;
}

.motto p, .slogan p{
    color: var(--vh-white);
}
.sm-heading{
    display: flex;
    gap: 8px;
    align-items: center;
}

.sm-heading hr{
    color: var(--vh-yellow);
    width: 14px;
    border: 0;
    border-bottom: 2px solid;
    margin: 0;
}

.sm-heading span{
    font-size: 14px;
    color: var(--vh-white);
    font-weight: 200;
}

/* Profile */
.profile-img img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.role{
    color: var(--vh-ash);
    font-weight: 400;
}


/* contact Block on Contact Page */
.contact-block{
   border: 1px solid var(--ug-grey-lines);
   border-radius: 8px;
}

/* Accordion */
#accordionPanels .accordion-button{
    background-color: var(--vh-yellow);
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    font-size: 1rem;
    color: var(--vh-black);
    text-align: left;
    border: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    border-bottom-color: transparent;
}

#accordionPanels .accordion-button.collapsed {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    font-size: 1rem;
    color: var(--vh-black);
    text-align: left;
    border: 0;
    border-radius: 4px;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    background-color: var(--vh-offwhite);
    border-bottom-color: transparent;
}

#accordionPanels .accordion-button.collapsed::after{
    margin-left: auto;
    content: '\f067';
    font-family: 'Line Awesome Free';
    font-weight: 800;
    transform: rotate(90deg);
}

#accordionPanels .accordion-button::after{
    margin-left: auto;
    content: '\f067';
    font-family: 'Line Awesome Free';
    font-weight: 800;
    transition: transform 0.2s ease-in-out;
}

#accordionPanels .accordion-body{
    background-color: var(--vh-offwhite);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* overview Home Page */
.vh-featured img{
    border-radius: 8px;
}

/* Announcement */
.announcement-card{
    border: 1px solid var(--ug-grey-lines);
    color: var(--vh-black);
    text-decoration: none;
}

.announcement-card:hover{
    background-color: var(--vh-yellow);
}


/* News */
.news-card{
    text-decoration: none;
    color: var(--vh-black);
}

.news-card:hover h5{
    text-decoration: underline;
    color: var(--vh-blue);
    transition: text-decoration 1s ease-in-out;
    text-underline-offset: 3px;
}

.news-card .vh-link-right::after{
    transition: padding-left 0.35s ease-in-out;
}

.news-card:hover .vh-link-right::after{
    padding-left: 18px;
    transition: padding-left 0.35s ease-in-out;
}

.news-spotlight{
    color: var(--vh-white);
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: calc(100px + 15vw);    
}

.news-spotlight-details{
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    width: 60%;
}

@media (max-width: 767px){
    .news-spotlight{
       height: calc(120px + 40vw);  
    }
    .news-spotlight-details{
        width: 100%;
    }
}

/* Events */
.event-card{
    color: var(--vh-black);
    text-decoration: none;
}

.event-card:hover{
    background-color: var(--vh-yellow);
}


.event-card .short-month{
    color: var(--vh-blue);
    font-size: 14px;
    font-weight: 400;
}

.event-card .day{
    color: var(--vh-black);
    font-size: 30px;
    font-weight: 600;
}

.event-date-time::before{
    content: url('../../icons/custom/fluent-mdl2_date-time.svg');
}

.event-venue::before{
    content: url('../../icons/custom/gg_pin.svg');
}


/* Home Page Banner */
.home-page-banner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh
}

.banner-content{
    height: 100%;
}

/* Info Block(Image Left Right*/
.info-image-wrapper{
    border-radius: 8px;
    overflow: hidden;
}

/* People Views */
.form-item-field-staff-category-value ul{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-item-field-staff-category-value ul li{
    position: relative;
}

.form-item-field-staff-category-value ul li a{
    color: var(--vh-black);
    font-weight: 500;
    text-decoration: none;

}
.form-item-field-staff-category-value ul li a.bef-link--selected{
    color: var(--vh-blue);
}
