/* Button Right */
.vh-button-right, .more-link a{
    display: inline-block;
    padding: 12px 14px;
    background: var(--vh-yellow);
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    color: var(--vh-text-black);
}

.vh-button-right:hover , .more-link a:hover{
    border-bottom: 4px solid var(--vh-black);
    position: relative;
    bottom: -2px;
    transition: border-bottom 0.05s ease-out;
}

.vh-button-right::after, .more-link a::after{
    font-family: "Line Awesome Free";
    content: "\f105";
    font-size: inherit;
    font-weight: 600;
    display: inline-block;
    padding-left: 10px;
}

.vh-link-right{
    display: inline-flex;
    font-size: 14px;
    text-decoration: none;
    color: var(--vh-text-black);
    align-items: center;
}

.vh-link-right::after{
    font-family: "Line Awesome Free";
    content: "\f061";
    font-size: inherit;
    font-weight: 600;
    display: inline-block;
    padding-left: 10px;
    padding-top: 1.5px;
}

/* Button Arrow right */
.vh-button-arrow-right{
    display: inline-flex;
    padding: 12px 14px;
    background: var(--vh-yellow);
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    color: var(--vh-text-black);
    align-items: center;
}
.vh-button-arrow-right:hover{
    border-bottom: 4px solid var(--vh-black);
    position: relative;
    bottom: -2px;
    transition: border-bottom 0.05s ease-out;
}
.vh-button-arrow-right::after{
    font-family: "bootstrap-icons";
    content: "\f138";
    font-size: inherit;
    font-weight: 400;
    display: inline-block;
    padding-left: 10px;
}



/* Button Download Document Pdf Icon */
.vh-button-document{
    display: inline-flex;
    padding: 12px 14px;
    background: var(--vh-yellow);
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    color: var(--vh-text-black);
}

.vh-button-document:hover{
    border-bottom: 4px solid var(--vh-black);
    position: relative;
    bottom: -2px;
    transition: border-bottom 0.05s ease-out;
}

.vh-button-document::before{
    font-family: bootstrap-icons;
    content: "\f63e";
    font-size: inherit;
    font-weight: 400;
    display: inline-block;
    padding-right: 10px;
}

/* Button Download Document download Icon */
.vh-button-download{
    display: inline-flex;
    padding: 12px 14px;
    background: var(--vh-yellow);
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    color: var(--vh-text-black);
}

.vh-button-download:hover{
    border-bottom: 4px solid var(--vh-black);
    position: relative;
    bottom: -2px;
    transition: border-bottom 0.05s ease-out;
}

.vh-button-download::after{
    font-family: bootstrap-icons;
    content: "\f1bc";
    font-size: inherit;
    font-weight: 400;
    display: inline-block;
    padding-left: 10px;
}
